/**
 * @file RootToaster.scss
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */
@import 'scss/common.scss';

.portal {

    .toaster.position-pop-top.root-toaster {
        top: 0;
        z-index: $toast-z-index;

        .toast {
            position: fixed !important;
            top: 8px !important;
            box-sizing: border-box;
            width: 160px !important;
            height: 50px !important;
            color: #333 !important;
            box-shadow: transparentize(#000, .94) 1px 1px 8px;
            padding: 16px 16px 16px 56px !important;
            margin: 0 !important;
            background: #fff !important;
            border: none;
            border-radius: 8px;
            opacity: 1 !important;
            transition: top $theme-transition-duration ease-in-out !important;

            .toast-icon {
                left: 16px;
            }

            .base-button-value {
                font-size: 16px;
                font-weight: 600;
                color: $theme-label;
            }

            //&::before {
            //    content: "";
            //    position: absolute;
            //    left: 6px;
            //    top: 4px;
            //    display: block;
            //    width: 4px;
            //    height: calc(100% - 8px);
            //    border-radius: 2px;
            //}

            &.theme-success {
                .toast-icon {
                    color: $theme-success;
                }

                //&::before {
                //    background: $theme-success;
                //}
            }

            &.theme-error {
                .toast-icon {
                    color: $theme-error;
                }

                //&::before {
                //    background: $theme-error;
                //}
            }

            &.hidden {
                top: -48px !important;
            }
        }
    }
}
