/**
 * @file RootToaster.scss
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */
@import 'scss/common.scss';

.portal {

    .toaster.position-pop-top.root-toaster {
        z-index: $toast-z-index;

        .toast {
            position: fixed !important;
            top: 32px !important;
            left: 50% !important;
            box-sizing: border-box;
            width: 160px !important;
            height: 50px !important;
            color: #333 !important;
            box-shadow: transparentize(#000, .88) 0 0 8px;
            padding: 16px 16px 16px 56px !important;
            margin: 0 !important;
            border: none;
            border-radius: 8px;
            opacity: 1 !important;
            transform: translateX(-50%);
            transition: top $theme-transition-duration ease-in-out !important;

            .toast-icon {
                left: 16px;
            }

            .base-button-value {
                font-size: 16px;
                font-weight: 600;
                color: $theme-label;
            }

            &.theme-success {
                background: $theme-success-bg;

                .toast-icon {
                    color: $theme-success;
                }
            }

            &.theme-error {
                background: $theme-error-bg;

                .toast-icon {
                    color: $theme-error;
                }
            }

            &.hidden {
                top: -48px !important;
            }
        }
    }
}
