/**
 * @file AnalyticsTableFilters.scss
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */
@import '../../../../../common.scss';

.analytics-table-filters {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 56px;
}
