/**
 * @file AnalyticsTableSearch.scss
 * @author liangxiaojun(fatalxiao@163.com)
 */
@import 'scss/common.scss';

.text-field.analytics-table-search {
    width: 300px;
    height: 40px;
    border-radius: 8px;
    border: 2px solid $theme-highlight !important;
    transition: width $theme-transition-duration ease-in-out,
    background $theme-transition-duration ease-in-out,
    border-color $theme-transition-duration ease-in-out $theme-transition-duration;

    .icon-button {
        width: 36px;
        height: 36px;
        font-size: 16px;
        z-index: 2;
    }

    .text-field-placeholder,
    .text-field-input {
        font-size: 15px;
    }

    &.collapsed {
        width: 40px;
        border-color: transparent !important;
        transition: width $theme-transition-duration ease-in-out,
        background $theme-transition-duration ease-in-out,
        border-color 0s ease-in-out;

        .icon-button {
            border-radius: 8px;
            cursor: pointer;
        }

        &:hover {
            background: $theme-secondary;
        }
    }
}
