/**
 * @file UploadIcon.scss
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */
@import "../common.scss";

.upload-icon {
    position: relative;
    width: 320px;
    height: 224px;
    text-align: center;

    .cloud-icon {
        width: 240px;
        fill: #eaeaea;
    }

    .arrow-up-icon-wrapper {
        position: absolute;
        top: 64px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;

        .arrow-up-icon {
            display: block;
            height: 160px;
            fill: $theme-highlight;
        }

        &::after {
            content: "";
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);
            display: block;
            width: 32px;
            height: 120px;
            background: $theme-background;
            z-index: -1;
        }
    }
}
