/**
 * @file AnalyticsHeader.scss
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */

.analytics-header {
    flex: 0 0 104px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    height: 104px;
    padding: 0 8px 24px;
}
