/**
 * @file DropZone.scss
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */
@import 'scss/common.scss';

.drop-zone {
    position: relative;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80%;
    border-radius: 24px;
    margin: 0 auto;

    .upload-icon {
        margin: 0 auto;
        width: 320px;
        height: 224px;

        .cloud-icon {
            width: 240px;
        }

        .arrow-up-icon-wrapper {
            top: 64px;

            .arrow-up-icon {
                height: 160px;
            }

            &::after {
                width: 32px;
                height: 120px;
            }
        }
    }

    .drop-zone-desc {
        text-align: center;
        color: #ccc;
        font-size: 24px;
    }

    &.dragging {
        border: 2px dashed #ccc;
    }

    &.dragging-over {
        background: lighten($theme-highlight, 40%);

        .arrow-up-icon-wrapper::after {
            background: lighten($theme-highlight, 40%);
        }
    }
}

