/**
 * @file AnalyticsTableToggleCollapseData.scss
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */
@import '../../../../../../common.scss';

.base-button.icon-button.analytics-table-toggle-collapse-data {
    border-radius: 8px;
    margin-right: 8px;
    font-size: 16px;
    transform: rotate(180deg);

    &:hover {
        background: $theme-secondary;
    }
}
