/**
 * @file BrowseFile.scss
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */
@import "../../common.scss";

.browse-file {

    .browse-file-button {
        width: 320px;
        height: 80px;
        font-size: 32px;
    }
}
