/**
 * @file DropZone.scss
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */
@import "../../common.scss";

@keyframes blink {
    0% {
        transform: translate(-50%, 0);
    }
    50% {
        transform: translate(-50%, 16px);
    }
}

.drop-zone {
    position: relative;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80%;
    border-radius: 24px;
    margin: 0 auto;

    .upload-icon {
        margin: 0 auto 16px;
    }

    .drop-zone-desc {
        text-align: center;
        color: #ccc;
        font-size: 24px;
    }

    &.dragging {
        border: 2px dashed #ccc;
    }

    &.dragging-over {
        background: lighten($theme-highlight, 40%);

        .arrow-up-icon {
            background: lighten($theme-highlight, 40%);
            animation: blink 1s infinite ease-in-out;
        }
    }
}

