/**
 * @file DropFile.scss
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */
@import "../../common.scss";

.drop-file {
    margin: 0 auto 64px;

    .upload-icon {
        margin: 0 auto;
    }

    .drop-file-desc {
        text-align: center;
        color: #ccc;
        font-size: 24px;
    }
}
