/**
 * @file AnalyticsTableActions.scss
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */

.analytics-table-actions {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 56px;
}
