/**
 * @file AnalyticsTableActionButton.scss
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */
@import 'scss/common.scss';

.base-button.icon-button.analytics-table-action-button {
    border-radius: 8px;
    font-size: 16px;
    transition: background $theme-transition-duration ease-in-out;

    &:hover {
        background: $theme-secondary;
    }
}
