/**
 * @file AnalyticsTableTitle.scss
 * @author liangxiaojun(fatalxiao@163.com)
 */
@import 'scss/common.scss';

.analytics-table-title {
    @include text-nowrap;
    font-size: 17px;
    font-weight: 600;
    color: $theme-primary;
}
