/**
 * @file UploadIcon.scss
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */
@import 'scss/common.scss';

.upload-icon {
    position: relative;
    text-align: center;

    .cloud-icon {
        font-size: 20px;
        color: #eaeaea;
    }

    .arrow-up-icon {
        position: absolute;
        top: 8px;
        left: 50%;
        transform: translateX(-50%);
        display: block;
        font-size: 16px;
        color: $theme-highlight;
        z-index: 1;

        &::after {
            content: "";
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);
            display: block;
            width: 6px;
            height: 100%;
            background: $theme-background;
            z-index: -1;
        }
    }
}
