/**
 * @file UploadIcon.scss
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */
@import 'scss/common.scss';

.upload-icon {
    position: relative;
    text-align: center;

    .cloud-icon {
        width: 24px;
        fill: #eaeaea;
    }

    .arrow-up-icon-wrapper {
        position: absolute;
        top: 8px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;

        .arrow-up-icon {
            height: 16px;
            fill: $theme-highlight;
        }

        &::after {
            content: "";
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);
            display: block;
            width: 4px;
            height: 4px;
            background: $theme-background;
            z-index: -1;
        }
    }
}
