/**
 * @file UploadIcon.scss
 * @author liangxiaojun(fatalxiao@163.com)
 */
@import 'scss/common.scss';

.upload-icon {
    position: relative;
    text-align: center;
    overflow: hidden;

    .arrow-up-icon {
        position: absolute;
        top: 8px;
        left: 50%;
        transform: translateX(-50%);
        display: block;
        font-size: 16px;
        color: $theme-highlight;
        z-index: 1;
    }

    .cloud-svg {
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        z-index: 2;
    }

    &.activated {
        .arrow-up-icon {
            animation: upload 1s infinite;
        }
    }
}

@keyframes upload {
    0% {
        top: 128px;
        opacity: 0;
    }
    100% {
        top: -128px;
        opacity: 1;
    }
}
