/**
 * @file AnalyticsTableLayout.scss
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */
@import '../../../common.scss';

.analytics-table-card {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 16px;
    background: #fff;
    border-radius: 24px !important;
    box-shadow: 0 0 16px transparentize(#000, .94) !important;
    overflow: hidden;

    .analytics-table-layout {
        flex: 1;
    }
}
