/**
 * @file AnalyticsTable.scss
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */
@import '../../../common.scss';

.analytics-table {
    flex: 1;

    th {
        box-sizing: border-box;
        height: 47px;
    }

    tfoot td {
        box-sizing: border-box;
        height: 48px;
        border-bottom: none !important;
        color: $theme-primary;
        font-weight: 700;
    }
}
