/**
 * @file AnalyticsTable.scss
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */
@import '../../../common.scss';

.table.analytics-table {
    flex: 1;

    .scroll-table-head,
    .scroll-table-foot {
        background: transparent;
    }

    table {

        thead tr th,
        tbody tr td,
        tfoot tr td {

            &:first-child {
                padding-left: 16px;
            }

            &:last-child {
                padding-right: 16px;
            }
        }

        thead tr {

            th {
                box-sizing: border-box;
                height: 47px;
                background: lighten($theme-primary, 56%) !important;
                border: none;
                font-size: 12px;
                font-weight: 600;

                &:first-child {
                    border-top-left-radius: 8px;
                    border-bottom-left-radius: 8px;
                }

                &:last-child {
                    border-top-right-radius: 8px;
                    border-bottom-right-radius: 8px;
                }

                &.sorting {
                    background: initial;
                }
            }
        }

        tbody tr {

            td {
                background: transparent;
                border: none;

                &:first-child {
                    border-top-left-radius: 8px;
                    border-bottom-left-radius: 8px;
                }

                &:last-child {
                    border-top-right-radius: 8px;
                    border-bottom-right-radius: 8px;
                }

                &.sorting {
                    background: initial;
                }
            }

            &:nth-child(odd) {
                background: lighten($theme-primary, 59%);
            }

            &:hover {
                background: lighten($theme-primary, 54%);
            }
        }

        tfoot tr td {
            box-sizing: border-box;
            height: 48px;
            background: #fff;
            border-bottom: none;
            color: $theme-primary;
            font-weight: 700;
        }
    }

}
